.thoth__cta { 
  display: flex; 
  justify-content: space-between; align-items: center; 
  flex-direction: row; 
  padding: 2rem; margin: 4rem; border-radius: 1rem ; -webkit-border-radius: 1rem ; -moz-border-radius: 1rem ; -ms-border-radius: 1rem ; -o-border-radius: 1rem ;

  background: var(--gradient-bar);
}

.thoth__cta-content p {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  color: #0e0e0e;
}

.thoth__cta-content h3 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 45px;
  color: #0e0e0e;
}

.thoth__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.thoth__cta-btn button {
  background: #000;
  border-radius: 40px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  padding: 0.5rem 1rem;

  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
  .thoth__cta {
    flex-direction: column;
  }

  .thoth__cta-btn {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .thoth__cta {
    margin: 4rem 2rem;
  }
  .thoth__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .thoth__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}